@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background:#1f1a36;
}

.form-container {
  position: relative;
  z-index: 1;
  background: #231e39;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.form-container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}

.form-container input:focus {
  background: #dbdbdb;
}

.form-container button {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  outline: 0;
  background: #03bfcb;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form-container button:active {
  background: #395591;
}

.form-container span {
  font-size: 75px;
  color: #4b6cb7;
}
